*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
.head-1 a{
    text-decoration: none;
    
    color: #666666;
}
.head-1{
    width: 100%;
    background-color: #F6F7F8;
}
.head-1-all{
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
}
.h1left{
    
    font-size: 0.75rem;
    font-weight: lighter;
}
#h1m576{
    display: none;
}
.h1left a{
    letter-spacing: 0;
    display: inline-block;
    margin: 12px 18px 12px 0;
}
.h1left :nth-last-child(1){
    color: #0056c1;
    font-weight: 400;
    border: 1px solid #0056c1;
    border-radius: 2rem;
    padding: 4px 10px;
    margin: 8px 8px 8px 0;

}
.h1right{
    position: relative;
    font-size: 0.75rem;
    font-weight: lighter;
}
.h1right a{
    letter-spacing: 0;
    display: inline-block;
    margin: 12px 18px 12px 0;
}
.h1right :nth-last-child(1){
    margin: 12px 0 12px 0;
    font-weight: 700;

}
.h1right :nth-last-child(1)::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: "\f095";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    scale: 0.8;
    margin: 0 3px;

}
.h1right :nth-last-child(2)::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: "\f107";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    scale: 0.8;
    margin: 0 3px;
    transform: rotateZ(0deg);
    transition: 0.7s;

}
.active3::after{
    font-family: "Font Awesome 5 Free" !important;
    font-weight: 700!important;
    content: "\f107"!important;
    display: inline-block!important;
    font-style: normal!important;
    font-variant: normal!important;
    text-rendering: auto!important;
    scale: 0.8!important;
    margin: 0 3px!important;
    transform: rotateZ(180deg) !important;
    transition: 0.7s;
}

.box{
    width: 50px;
    height: 50px;
    background-color: #0056c1;
}


.h1right :nth-last-child(3)::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: "\f002";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    scale: 0.8;
    margin: 0 4px;
    opacity: 0.5;

}
.head-2{
    width: 100%;
    border-bottom: 1px solid #66666611;
}
.head-2-all{
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;

}
.head-2-all a,span{
    text-decoration: none;
    color: #666666;
    opacity: 0.8;
}
.h2left{
    display: flex;
    align-items: center;
}

.h2logo img{
    display: inline-block;
    height: 40px;
}
.h2nav{
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0 35px;
}
.h2nav a span{
    padding: 0 15px
}
.h2nav a:hover{
    color: #262626;
}
.h2right i{
    display: none;
}
.h2right{
    display: flex;
    align-items: center;
}
.h2right a{
    font-size: 0.85rem;
    font-weight: 600;
    color: #0056c1;
    letter-spacing: 0;
}
.h2right a:before{
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: "\f08b";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    scale: 1.1;
    margin: 0 4px;

}
.head-3{
    width: 100%;
}
.head-3 a{
    
    text-decoration: none;
    color: rgb(23,38,57);
    font-size: 0.8rem;
    font-weight: 300;
    padding: 20px 0;
    margin-right: 15px;
    transition: 0.5s;
}
.head-3-all{
    width: 95%;
    margin: auto;
    display: flex;
}
.head-3-all a:hover{
    border-bottom: 2px solid #0056c1;

}
@media (max-width:992px){
    .head-3{
        display: none;
    }
    .h1left a{
        display: none;
    }
    #h1m576{
        display: inline-block;
        font-size: 1rem;
        font-weight: 500;
    }
    #h1m576::after{
        font-family: "Font Awesome 5 Free";
        font-weight: 700;
        content: "\f107";
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        scale: 0.8;
        margin: 0 5px;
    }
    .h1right a{
        font-size: 1rem;

    }
    .h1right a:nth-last-child(3){
        display: none;
            
    }
    .h1right a:nth-last-child(2)::before{
        font-family: "Font Awesome 5 Free";
        font-weight: 700;
        content: "\f002";
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        scale: 0.75;
        margin: 0 20px;
        opacity: 0.45;
    
    }
    .h2nav,.h2right a{
        display: none;
    }
    .h2right i{
        display: inline-block;
        scale: 2;
    }    

}


.head-2-3-all{
    position: relative;
}
#searchbox{
    display: none;
    /* opacity: 0; */
    z-index: 2;
    background-color: #F6F7F8;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 30px 50px;
    font-family:'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    color: #666666;
    transition: 1s;
}
#searchbox i {
    cursor: pointer;

}
.active{
    display: flex !important;
    justify-content: space-between;
    align-items: center;  
    /* opacity: 1 !important; */
    /* height: 100%; */
    transition: 1s;
}
.active2{
    display: inline-block !important;
}
#langbox{
    display: none;
    position: absolute;
    z-index: 3;
    top: 25px;
    right: 82px;
    width: 100px;
}
.lang{
    display: inline-block;
    /* position: relative;
    top: 40px;
    right: 50px; */
    /* z-index: 3; */
    width: 100px;
    height: 100px;
    background-color: #b9b9b9;


}
.box{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

    margin: 0 20% 0 60%;
    width: 20%;
    height: 10px;
    background-color: #b9b9b9;
}
.lang-all{
    padding: 10px 0 0 0;
}
.lang-all img {
    width: 50%;
    margin: 0 15px 0 0 ;

}
.lang-all .en,.az{
    display: flex;
    align-items: center;
}
.lang-all a{

    text-decoration: none;
    color: #F6F7F8;
}